.cabecera {
    text-align: center; font-family: 'Merriweather', serif;
}

.iconos-contacto { text-align: center}

.contacto { display: inline-block; }

.educacion-habilidades { border-style: solid; display: flex; justify-content: center}

.universidad { 
    border-style: dashed; 
    border-color: red; 
    text-align: right;
}

.habilidades {
    display: inline-block; 
    border-style: dashed; 
    border-color: blue;
}