.cabecera {
    text-align: center; font-family: 'Merriweather', serif;
}

.iconos-contacto { text-align: center}

.contacto { display: inline-block; }

.educacion-habilidades { 
    font-family: 'Merriweather', serif;
    /* border-style: solid;  */
    display: flex; 
    justify-content: center}

.universidad {
    padding: 2%; 
    /* border-style: dashed;  */
    border-color: red; 
    text-align: right;
}

.habilidades {
    padding: 2%;
    display: inline-block; 
    /* border-style: dashed;  */
    border-color: blue;
}

h3, h4 {
    margin-top: 2px;
    margin-bottom: 2px;
}

h4 {
    color: silver
}